// Name        : stash
// Description : unstable css.

.body {
  background-color: #EEE;
  padding: 30px;
  margin: 0 auto;
}
.header {
  padding: 30px;
  margin: 0 auto;
  background-color: #DDD;
}

.main {
  background-color: #fff;
  padding: 30px;
  h1 {
    font-size: 50px;
    font-weight: 600;
  }
  a {
    display: inline-block;
    padding-top: 1rem;
    font-size: 16px;
  }
}
.footer {
  padding: 30px;
  margin: 0 auto;
  background-color: #DDD;
}
